---
---
@import "variables";
@import "buttons";

body {
    margin: 20vh auto;
    padding: 0;
    font: normal 1.4em/1.1 'Squada One', Georgia, Times, serif;
    background: #F8A912;
    color: #fff;
}

h1 {
    margin-bottom: 0.25em;
    text-shadow: 0px 4px 0px #F0801B;
}

cite {
    display: inline-block;
    margin: 1em;
    font-size: 1.4em;
}

main {
    margin: 0 5vw;
}

img {
    max-width: 100%;
}

header,
blockquote {
    text-align: center;
}

.browserupgrade {
    margin: 0.2em 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;

}
