  <!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Squada+One">
	<link rel="stylesheet" href="/assets/css/styles.css?v=6.2">

</head>

<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">Vous utilisez un navigateur <strong>obsolète</strong>. Merci de <a href="http://browsehappy.com/">mettre à jour votre navigateur</a> pour améliorer votre expérience utilisateur.</p>
	<![endif]-->
	<main>
    <header>
    	<img src="{{ site.logo }}" alt="{{ site.title }}">
    </header>
    {{ content }}
  </main>
</body>

</html>
